*{
    background-color: rgb(52, 73, 94 );
}

.cont {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;   
}

h1 {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
}

input[type="text"] {
    font-family: 'sans-serif';
    font-size: 32px;
    color: white;

}
